#consola-salida-1 {
    height: 285px;
    width: 100%;
    overflow: auto;
    background-color: #808080;
}

#consola-salida-1-content {
    height: 100px;
    width: 100px;
    padding: 3px;
}

